[Unit]
Description=OpenWRT Builder

[Container]
# Image=owrt-builder.build
Image=ghcr.io/vooon/docker-openwrt-build-env:bookworm

Exec=sleep infinity
RunInit=true

ContainerName=owrt-builder
HostName=owrt-builder

Volume=$HOME/build/LEDE:/home/user/LEDE
Volume=$HOME/.gitconfig:/home/user/.gitconfig
Volume=$HOME/.ssh:/home/user/.ssh
Volume=$HOME/.config:/home/user/.config

User=1000
PodmanArgs=--userns=keep-id
